.content-header {
    height: 48px;
    width: calc(100% - 40px);
    background: #F2F4FA;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.content-header .page {
    align-items: center;
    display: flex;
}

.content-header .page-icon {
    height: 24px;
    width: 24px;
}

.content-header .page-icon svg {
    height: 24px;
    width: 24px;
}

.content-header .page-name {
    margin-left: 9px;
    line-height: 24px;
    color: #343C4C;
    font-size: 20px;
}

.actions {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    height: 32px;
}

.views {
    display: flex;
    align-items: center;
    border-right: 1px solid #C3C9D6;
    border-left: 1px solid #C3C9D6;
    padding: 0 20px;
}

.views-title {
    font-size: 16px;
    color: #C3C9D6;
    margin-right: 8px;
}

.views .button.tertiary {
    margin: 0 5px;
}

.btn.shortcuts-btn {
    margin-left: 20px;
    font-size: 24px;
}