button.btn {
    text-align: center;
    background: none;
    border: none;
    outline: none;
    color: #343C4C;
    cursor: pointer;
    height: 32px;
    margin-bottom: 0;
}

button.btn.tertiary {
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    color: #343C4C;
    cursor: pointer;
    height: 32px;
}

button.btn:hover,
button.btn:focus {
    color: #0BA6FF;
    height: 32px;
}

button.btn.active {
    background: #0078BD;
    border-radius: 4px;
    padding: 6px;
    color: #FFFFFF;
}

button.btn.active:hover,
button.btn.active:focus {
    background: #0BA6FF;
}